.post-info-new-post {
	margin-bottom: 10px;
}

.post-info-new-post__input {
	width: 100%;
	min-height: 50px;

	padding-left: 10px;
	padding-right: 10px;

	background-color: #ffffff;

	border-radius: 10px;
	border: none;

	line-height: 30px;
}
