@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
.search {
	display: flex;
	justify-content: space-between;

	max-width: 300px;
	width: 100%;

	margin: 0 auto;
}

.input {
	width: 100%;
}
